/* My fonts */

/* @font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/Roboto-Regular.ttf");
} */

/* My menus */

#desktop_menu > div > div > div > figure > a > img:first-child {
    max-height: 50px;
}

#desktop_menu > div > div > div > figure > a > img:last-child {
    max-height: 20px;
}

#desktop_menu > div > div > div > nav > ul > li > a > img,
#mobile_menu > nav > ul > li > a > img {
    max-height: 15px;
}

#mobile_menu {
    width: 300px;
    right: -300px;
}

#mobile_menu > a {
    top: 20px;
    right: 20px;
}

#desktop_menu.down {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #fff;
}

#desktop_menu.down > div > div > div > figure > a > img:first-child {
    display: none !important;
}

#desktop_menu.down > div > div > div > figure > a > img:last-child {
    display: block !important;
}

@media (max-width: 768px) {

    #mobile_menu.open {
        right: 0px;
    }
}

/* My styles */

h1, h2, h3, h4, h5, h6,
p,
a, button {
    color: #0a1832;
}

p,
a, button,
li {
    font-size: 14px;
}

.font-primary {}

.font-secondary {}

.bkg-light {}

.bkg-soft {}

.bkg-hard {}

.bkg-dark {}

.text-soft {}

.text-hard {}
