
body,
h1, h2, h3, h4, h5, h6,
p,
nav, ul,
figure,
a, button {
    margin: 0px;
    padding: 0px;
}

a, button {
    text-decoration: none !important;
    cursor: pointer !important;
}

figure {
    line-height: 0px;
    overflow: hidden;
}

figure > a {
    overflow: hidden;
}

/* Widths and heights */

.wth-100 {
    width: 100%;
}

.wth-auto {
    width: auto;
}

.wth-100vw {
    width: 100vw;
}

.hth-100 {
    height: 100%;
}

.hth-auto {
    height: auto;
}

.hth-100vh {
    height: 100vh;
}

.min-hth-100vh {
    min-height: 100vh;
}

/* Rows and cols */

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.row.no-perimeter > [class*="col-"]:first-child {
    padding-left: 0px !important;
}

.row.no-perimeter > [class*="col-"]:last-child {
    padding-right: 0px !important;
}

.col, .col-auto, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-sm, .col-sm-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md, .col-md-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg, .col-lg-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl, .col-xl-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 768px) {

    .no-md-gutters {
        margin-right: 0;
        margin-left: 0;
    }
    
    .no-md-gutters > .col,
    .no-md-gutters > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

    .col, .col-auto, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
    .col-sm, .col-sm-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
    .col-md, .col-md-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
    .col-lg, .col-lg-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
    .col-xl, .col-xl-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* Paddings and margins */

.p-t-60 {
    padding-top: 60px !important;
}

.p-t-70 {
    padding-top: 70px !important;
}

.p-t-80 {
    padding-top: 80px !important;
}

.p-t-90 {
    padding-top: 90px !important;
}

.p-t-100 {
    padding-top: 100px !important;
}

.p-b-60 {
    padding-bottom: 60px !important;
}

.p-b-70 {
    padding-bottom: 70px !important;
}

.p-b-80 {
    padding-bottom: 80px !important;
}

.p-b-90 {
    padding-bottom: 90px !important;
}

.p-b-100 {
    padding-bottom: 100px !important;
}

.p-tb-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.p-tb-70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}

.p-tb-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.p-tb-90 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}

.p-tb-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.m-t-60 {
    margin-top: 60px !important;
}

.m-t-70 {
    margin-top: 70px !important;
}

.m-t-80 {
    margin-top: 80px !important;
}

.m-t-90 {
    margin-top: 90px !important;
}

.m-t-100 {
    margin-top: 100px !important;
}

.m-b-60 {
    margin-bottom: 60px !important;
}

.m-b-70 {
    margin-bottom: 70px !important;
}

.m-b-80 {
    margin-bottom: 80px !important;
}

.m-b-90 {
    margin-bottom: 90px !important;
}

.m-b-100 {
    margin-bottom: 100px !important;
}

.m-tb-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.m-tb-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.m-tb-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.m-tb-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}

.m-tb-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

@media (min-width: 768px) {

    .p-t-md-60 {
        padding-top: 60px !important;
    }
    
    .p-t-md-70 {
        padding-top: 70px !important;
    }
    
    .p-t-md-80 {
        padding-top: 80px !important;
    }
    
    .p-t-md-90 {
        padding-top: 90px !important;
    }
    
    .p-t-md-100 {
        padding-top: 100px !important;
    }

    .p-b-md-60 {
        padding-bottom: 60px !important;
    }
    
    .p-b-md-70 {
        padding-bottom: 70px !important;
    }
    
    .p-b-md-80 {
        padding-bottom: 80px !important;
    }
    
    .p-b-md-90 {
        padding-bottom: 90px !important;
    }
    
    .p-b-md-100 {
        padding-bottom: 100px !important;
    }

    .p-tb-md-60 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    
    .p-tb-md-70 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }
    
    .p-tb-md-80 {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }
    
    .p-tb-md-90 {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }
    
    .p-tb-md-100 {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    .m-t-md-60 {
        margin-top: 60px !important;
    }
    
    .m-t-md-70 {
        margin-top: 70px !important;
    }
    
    .m-t-md-80 {
        margin-top: 80px !important;
    }
    
    .m-t-md-90 {
        margin-top: 90px !important;
    }
    
    .m-t-md-100 {
        margin-top: 100px !important;
    }

    .m-b-md-60 {
        margin-bottom: 60px !important;
    }
    
    .m-b-md-70 {
        margin-bottom: 70px !important;
    }
    
    .m-b-md-80 {
        margin-bottom: 80px !important;
    }
    
    .m-b-md-90 {
        margin-bottom: 90px !important;
    }
    
    .m-b-md-100 {
        margin-bottom: 100px !important;
    }

    .m-tb-md-60 {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }
    
    .m-tb-md-70 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }
    
    .m-tb-md-80 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
    
    .m-tb-md-90 {
        margin-top: 90px !important;
        margin-bottom: 90px !important;
    }
    
    .m-tb-md-100 {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}

/* Figures and images */

.img-wth-fluid {
    width: 100%;
    height: auto;
}

.img-hth-fluid {
    width: auto;
    height: 100%;
}

/* Borders */

.brd-rad-20 {
    border-radius: 20px;
}

.brd-rad-15 {
    border-radius: 15px;
}

.brd-rad-10 {
    border-radius: 10px;
}

.brd-rad-5 {
    border-radius: 5px;
}

.brd-rad-middle-50 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.brd-rad-middle-60 {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.brd-rad-middle-70 {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.brd-rad-middle-80 {
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

.brd-rad-middle-90 {
    width: 90px;
    height: 90px;
    border-radius: 90px;
}

.brd-rad-middle-100 {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.brd-rad-middle-200 {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

/* Fonts and texts */

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-26 {
    font-size: 26px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}

.font-50 {
    font-size: 50px;
}

.font-60 {
    font-size: 60px;
}

.font-70 {
    font-size: 70px;
}

.font-80 {
    font-size: 80px;
}

.font-90 {
    font-size: 90px;
}

.font-100 {
    font-size: 100px;
}

.weight-100 {
    font-weight: 100;
}

.weight-200 {
    font-weight: 200;
}

.weight-300 {
    font-weight: 300;
}

.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

@media (min-width: 768px) {

    .font-md-10 {
        font-size: 10px !important;
    }
    
    .font-md-12 {
        font-size: 12px !important;
    }

    .font-md-14 {
        font-size: 14px !important;
    }

    .font-md-16 {
        font-size: 16px !important;
    }

    .font-md-18 {
        font-size: 18px !important;
    }

    .font-md-20 {
        font-size: 20px !important;
    }
    
    .font-md-22 {
        font-size: 22px !important;
    }
    
    .font-md-24 {
        font-size: 24px !important;
    }
    
    .font-md-26 {
        font-size: 26px !important;
    }
    
    .font-md-28 {
        font-size: 28px !important;
    }
    
    .font-md-30 {
        font-size: 30px !important;
    }

    .font-md-40 {
        font-size: 40px !important;
    }
    
    .font-md-50 {
        font-size: 50px !important;
    }
    
    .font-md-60 {
        font-size: 60px !important;
    }

    .font-md-70 {
        font-size: 70px !important;
    }

    .font-md-80 {
        font-size: 80px !important;
    }

    .font-md-90 {
        font-size: 90px !important;
    }

    .font-md-100 {
        font-size: 100px !important;
    }
}

/* Inputs and selects */

.label > label.error > h6 {
    color: #f44336 !important;
}

.label > label.error > p {
    margin-top: 5px !important;
    padding: 0px !important;
    font-size: 10px !important;
}

/* Buttons */

.btn.btn-outline.btn-primary {
    border-color: #fff !important;
    color: #fff !important;
}

/* Positions */

.pos-abt-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/* Overflows */

.yescroll {
    overflow: visible !important;
}

/* Overlays */

.z-99 {
    z-index: 99;
}

.z-98 {
    z-index: 98;
}

.z-97 {
    z-index: 97;
}

.z-96 {
    z-index: 96;
}

.z-95 {
    z-index: 95;
}

/* Transitions */

.ttn-200 {
    transition: 200ms;
}

.ttn-400 {
    transition: 400ms;
}

.ttn-600 {
    transition: 600ms;
}

.ttn-800 {
    transition: 800ms;
}

/* Backgrounds */

.bkg-none {
    background: none !important;
}

.bkg-white {
    background-color: #fff;
}

.bkg-white-tpt-2 {
    background-color: rgba(255, 255, 255, 0.2);
}

.bkg-white-tpt-4 {
    background-color: rgba(255, 255, 255, 0.4);
}

.bkg-white-tpt-6 {
    background-color: rgba(255, 255, 255, 0.6);
}

.bkg-white-tpt-8 {
    background-color: rgba(255, 255, 255, 0.8);
}

.bkg-black {
    background-color: #000;
}

.bkg-black-tpt-2 {
    background-color: rgba(0, 0, 0, 0.2);
}

.bkg-black-tpt-4 {
    background-color: rgba(0, 0, 0, 0.4);
}

.bkg-black-tpt-6 {
    background-color: rgba(0, 0, 0, 0.6);
}

.bkg-black-tpt-8 {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Hidden on desktop and mobile */

[data-mobile-block],
[data-mobile-flex] {
    display: none !important;
}

@media (max-width: 768px) {

    [data-desktop] {
        display: none !important;
    }
    
    [data-mobile-block] {
        display: block !important;
    }
    
    [data-mobile-flex] {
        display: flex !important;
    }
}

/* Loader */

[data-ajax-loader] {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

[data-ajax-loader] > div.loader {
    width: 2em;
    height: 2em;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    pointer-events: none;
    border: 1em solid transparent;
    border-top-color: currentcolor;
    border-radius: 50%;
    color: #e0e0e0;
    -webkit-animation: 1s loader linear infinite;
    animation: 1s loader linear infinite;
}

[data-ajax-loader] > div.loader:before {
    width: inherit;
    height: inherit;
    top: -1em;
    left: -1em;
    position: absolute;
    display: block;
    content: '';
    border: 1em solid currentcolor;
    border-radius: 50%;
    opacity: .5;
}

@-webkit-keyframes loader {

    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {

    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* My fonts */

/* @font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/Roboto-Regular.ttf");
} */

/* My styles */

h1, h2, h3, h4, h5, h6,
p,
a, button {
    color: #0a1832;
}

p,
a, button {
    font-size: 14px;
}

.font-primary {}

.font-secondary {}

.bkg-light {}

.bkg-soft {}

.bkg-hard {}

.bkg-dark {}

/* Desktop and mobile menus */

#desktop_menu > div > div > div > figure > a > img:first-child {
    max-height: 50px;
}

#desktop_menu > div > div > div > figure > a > img:last-child {
    max-height: 20px;
}

#desktop_menu > div > div > div > nav > ul > li > a > img,
#mobile_menu > nav > ul > li > a > img {
    max-height: 15px;
}

#mobile_menu {
    width: 300px;
    right: -300px;
}

#mobile_menu > a {
    top: 20px;
    right: 20px;
}

#desktop_menu.down {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #fff;
}

#desktop_menu.down > div > div > div > figure > a > img:first-child {
    display: none !important;
}

#desktop_menu.down > div > div > div > figure > a > img:last-child {
    display: block !important;
}

@media (max-width: 768px) {

    #mobile_menu.open {
        right: 0px;
    }
}
