
body,
h1, h2, h3, h4, h5, h6,
p,
nav, ul,
figure,
a, button {
    margin: 0px;
    padding: 0px;
}

a, button {
    text-decoration: none !important;
    cursor: pointer !important;
}

figure {
    line-height: 0px;
    overflow: hidden;
}

figure > a {
    overflow: hidden;
}

/* Widths and heights */

.wth-100 {
    width: 100%;
}

.wth-auto {
    width: auto;
}

.wth-100vw {
    width: 100vw;
}

.hth-100 {
    height: 100%;
}

.hth-auto {
    height: auto;
}

.hth-100vh {
    height: 100vh;
}

/* Rows and cols */

.row.no-perimeter > [class*="col-"]:first-child {
    padding-left: 0px !important;
}

.row.no-perimeter > [class*="col-"]:last-child {
    padding-right: 0px !important;
}

.col, .col-auto, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-sm, .col-sm-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md, .col-md-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg, .col-lg-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl, .col-xl-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 768px) {

    .col, .col-auto, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
    .col-sm, .col-sm-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
    .col-md, .col-md-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
    .col-lg, .col-lg-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
    .col-xl, .col-xl-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* Paddings and margins */

.p-t-100 {
    padding-top: 100px !important;
}

.p-b-100 {
    padding-bottom: 100px !important;
}

.p-tb-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.m-t-100 {
    margin-top: 100px !important;
}

.m-b-100 {
    margin-bottom: 100px !important;
}

.m-tb-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

@media (min-width: 768px) {

    .p-t-md-100 {
        padding-top: 100px !important;
    }

    .p-b-md-100 {
        padding-bottom: 100px !important;
    }

    .p-tb-md-100 {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    .m-t-md-100 {
        margin-top: 100px !important;
    }

    .m-b-md-100 {
        margin-bottom: 100px !important;
    }

    .m-tb-md-100 {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}

/* Figures and images */

.img-wth-fluid {
    width: 100%;
    height: auto;
}

.img-hth-fluid {
    width: auto;
    height: 100%;
}

/* Borders */

.brd-rad-20 {
    border-radius: 20px;
}

.brd-rad-15 {
    border-radius: 15px;
}

.brd-rad-10 {
    border-radius: 10px;
}

.brd-rad-5 {
    border-radius: 5px;
}

/* Fonts and texts */

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-26 {
    font-size: 26px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}

.font-50 {
    font-size: 50px;
}

.font-60 {
    font-size: 60px;
}

.weigth-100 {
    font-weight: 100;
}

.weigth-200 {
    font-weight: 200;
}

.weigth-300 {
    font-weight: 300;
}

.weigth-400 {
    font-weight: 400;
}

.weigth-500 {
    font-weight: 500;
}

.weigth-600 {
    font-weight: 600;
}

.weigth-700 {
    font-weight: 700;
}

/* Inputs and selects */

.label > label.error > h6 {
    color: #f44336 !important;
}

.label > label.error > p {
    margin-top: 5px !important;
    padding: 0px !important;
    font-size: 10px !important;
}

/* Buttons */

.btn.btn-outline.btn-primary {
    border-color: #fff !important;
    color: #fff !important;
}

/* Positions */

.pos-abt-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/* Overflows */

.yescroll {
    overflow: visible !important;
}

/* Overlays */

.z-99 {
    z-index: 99;
}

.z-98 {
    z-index: 98;
}

.z-97 {
    z-index: 97;
}

.z-96 {
    z-index: 96;
}

.z-95 {
    z-index: 95;
}

/* Transitions */

.ttn-200 {
    transition: 200ms;
}

.ttn-400 {
    transition: 400ms;
}

.ttn-600 {
    transition: 600ms;
}

.ttn-800 {
    transition: 800ms;
}

/* Hidden on desktop and mobile */

[data-mobile-block],
[data-mobile-flex] {
    display: none !important;
}

@media (max-width: 768px) {

    [data-desktop] {
        display: none !important;
    }
    
    [data-mobile-block] {
        display: block !important;
    }
    
    [data-mobile-flex] {
        display: flex !important;
    }
}

/* Loader */

[data-ajax-loader] {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

[data-ajax-loader] > div.loader {
    width: 2em;
    height: 2em;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    pointer-events: none;
    border: 1em solid transparent;
    border-top-color: currentcolor;
    border-radius: 50%;
    color: #e0e0e0;
    -webkit-animation: 1s loader linear infinite;
    animation: 1s loader linear infinite;
}

[data-ajax-loader] > div.loader:before {
    width: inherit;
    height: inherit;
    top: -1em;
    left: -1em;
    position: absolute;
    display: block;
    content: '';
    border: 1em solid currentcolor;
    border-radius: 50%;
    opacity: .5;
}

@-webkit-keyframes loader {

    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {

    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* My fonts */

/* @font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/Roboto-Regular.ttf");
} */

/* My styles */

h1, h2, h3, h4, h5, h6,
p,
a, button {
    color: #0a1832;
}

p,
a, button {
    font-size: 14px;
}

.font-primary {
    
}

.font-secondary {
    
}

.bkg-white {
    background-color: #fff;
}

.bkg-light {
    
}

.bkg-soft {
    
}

.bkg-hard {
    
}

.bkg-dark {
    
}

/* Desktop and mobile menus */

#desktop_menu > div > div > div > figure > a > img:first-child {
    max-height: 50px;
}

#desktop_menu > div > div > div > figure > a > img:last-child {
    max-height: 20px;
}

#desktop_menu > div > div > div > nav > ul > li > a > img,
#mobile_menu > nav > ul > li > a > img {
    max-height: 20px;
}

#mobile_menu {
    width: 300px;
    right: -300px;
}

#mobile_menu > a {
    top: 20px;
    right: 20px;
}

#desktop_menu.down {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

#desktop_menu.down > div > div > div > figure > a > img:first-child {
    display: none !important;
}

#desktop_menu.down > div > div > div > figure > a > img:last-child {
    display: block !important;
}

@media (max-width: 768px) {

    #mobile_menu.open {
        right: 0px;
    }
}
